.container
  .page-header
    %h2= _('Please accept our User Agreement to access to Kluje Commercial')
  .content
    .margin-bottom-15
      %h3=_('1. Definitions')
      %p"Company" means – Kluje Pte Ltd (registered company number: 201313800W) whose registered office is at 73 Loewen Road, #01-21, Singapore 248843 including where the context so allows, its shareholders, employees, affiliates, associated and contracted persons, companies or businesses supplying services to the Company.
      %p"Contractor(s)" means – contractor, tradesmen, tradeswomen, trades companies or any other person, persons, company, or companies that use the Services of the Company in order to receive introductions to Homeowners and potential Homeowners.
      %p"Customer(s) or Homeowner(s) " means - person, persons, companies or other organisations using the Services of the Company in order to be introduced to Contractors and/or use the services of the introduced Contractors or their Sub-Contractors.
      %p"E-mail(s)" means - electronic mail received or sent by the Company, created and sent by a member of the Company, or automatically created and sent on behalf of the Company.
      %p"Job(s)" or "Work" means - work carried out by Contractors, for or on behalf of Customers.
      %p"Member(s)" means - Contractor(s) and/or Customer(s) and/or Homeowner(s).
      %p"Service(s)" means - the services and procedures provided/used by the Company to Members and includes, but is not limited to: information, products and services provided by telephone, fax or mail, on the Website and by E-mail further details of which are contained within these Terms and Conditions and in other parts of the Website.
      %p"Sub-Contractor(s)" means - contractors, sub-contractors, and self-employed professionals, or any other person or company working for or on behalf of Contractors.
      %p"Suspend(ed)" means - the suspension of the Member's account with the Company.
      %p"System(s)" means - the software, hardware, batch programmes, and automated processes that are used by the Company in order to provide components of the Service.
      %p“Terms and Conditions” means these Terms and Conditions.
      %p"Third Party" or "Third Parties" means - person, persons, company or companies, websites or any other business or enterprise that is being referred to, in the context of these Terms and Conditions, as being other than the Company or a Member.
      “we”, “us” and “our” are a reference to the Company.
      %p"Website" means - the web space, pages, and the contents and graphics contained in such space or pages which are under the editorial control of authorised members of the Company.
      %p“you” and “your” are a reference to a user of the Website.
      %p"Your Information" means - any information you provide to us or other users of the Website including information provided during registration, Job listings, the rating of Contractors and any other communication processes arising as a result of your use of the Services or the Website.
      %h3=_('2. General Disclaimer - Customer')
      %p Each Customer expressly understands and agrees that:
      %p a.	It is your responsibility to select a Contractor and to negotiate the terms of any Work to be performed by the Contractor you have selected . The Company makes no warranty regarding any goods or services purchased or obtained through an introduction made via its Website or the Services or any transactions entered into through its Website;
      %p b.	The Company relies on data provided by Members and Third Parties to determine which Contractors are included in the database accessible via the Website and does not recommend or endorse any specific Contractor;
      %p c.	The Company provides no guarantee that it will be able to find a Contractor suitable for undertaking a Job whether by reason of geographical restrictions or otherwise;
      %p d.	The Company provides no guarantee that a Contractor to whom it has passed a Homeowners Job information will contact the Homeowner; and
      %p e.	The Company accepts no liability in respect of any contract or other agreement entered into between the Homeowner and the Contractor. In particular, but without limitation, the Company accepts no liability relating to the quality or fitness of any Work performed or omitted to be performed by any Contractor and accordingly shall not be liable to the Homeowner for any occurrence resulting from the introduction of the Contractor to the Homeowner including but not limited to any direct, indirect or consequential or inconsequential loss of any kind suffered by the Homeowner howsoever arising.
      %h3=_('3. General Disclaimer - Contractor')
      %p Each Contractor expressly understands and agrees that:
      %p a.	The Company relies on Homeowners to specify and describe their Job requirements. The Company makes no warranty as to the accuracy or completeness of any information provided by the Homeowner;
      %p b.	The Company makes no guarantee to refer any Jobs to a Contractor;
      %p c.	The Company makes no warranty as to the availability or suitability of a specific Job;
      %p d.	You must ensure that you are legally able to tender for a Job. In addition, you must ensure that you are legally able to perform the Work specified in the Job description;
      %p e.	The Company is not party to any contract made between the Homeowner and the Contractor in relation to a specific Job and accordingly shall not be liable to the Contractor for any occurrence resulting from the introduction of the Homeowner to the Contractor including but not limited to any direct, indirect or consequential or inconsequential loss of any kind suffered by the Contractor howsoever arising; and
      %p f.	Where you advise us of certifications as part of our registration process, we may (at our discretion) verify your certification, although the validity of the certificate is your responsibility.

      %h3=_('4. Privacy and Data Protection')
      %p a.	By accessing the Website you expressly consent to uses and disclosures of Your Information as set out in the Company's then current Privacy Policy, which is incorporated herein by reference.
      %p b.	The Company's Privacy Policy is available here.
      %p c.	The Company holds Your Information in accordance with its Privacy Policy.
      %p d.	The Company may, in its discretion, forward details of Job requests to selected Contractors. The Company retains the right to send contact details of Members to other Members (for the purposes of facilitating a transaction) in its sole discretion.
      %p e.	The Company may, in its discretion, make Member profile information (including, but not limited to, ratings and comments from other Members in relation to historic Jobs) available
      to view publicly on the Website.
      %p f.	The Company will provide, on request from a Member, a copy of any data held by the Company on the requesting Member on receipt of proof of identity. For this service the Company reserves the right to charge an amount to cover administrative costs, the level of which shall be communicated to the Member at such time.
      %h3=_('5. Exchange of Information')
      %p a.	Members must not attempt to communicate with other Members through any means other than with contact information provided through the Website.
      %p b.	Members must not offer services to other Members independently of the Website or otherwise seek to avoid Website commissions and other fees. Attempts by any Member to avoid such fees may result in the Website suspending or terminating Member accounts and seeking compensation through all available legal means.
      %h3=_('6. Disclaimer of Warranties')
      %p Each Member expressly understands and agrees that:
      %p a.	Use of the Website and the Services is at each Members sole risk. The Website and Services are provided on an "as is" and "as available" basis. To the maximum extent permitted by law, the Company disclaims and excludes all implied conditions or warranties;
      %p b.	The Company disclaims and excludes liability for any guarantees in connection with the Service or Jobs;
      %p c.	The Company does not warrant that i) the Jobs provided will be uninterrupted, timely, secure, or error free, or ii) that any information provided on the Website is secure, error-free or reliable;
      %p d.	No advice or information that is obtained by a Member from the Website or anyone else shall create any warranty by the Company that is not expressly stated in these Terms and Conditions;
      %p e.	Responsibility for the content of advertisements appearing on the Website rests solely with the advertiser. The placement of such advertisements on the Website does not constitute the Websites recommendation or endorsement of the advertised product or service. Each advertiser is solely responsible for any representation made in connection with its advertisement; and
      %p f.	While the Website has systems in place to reduce the risk of credit card fraud, the Website is not responsible for protecting Members from credit card fraud.
      %h3=_('7. Your Information')
      %p a.	You are solely responsible for Your Information. You agree to provide true, accurate, current and complete information when providing details to the Company. You agree not to impersonate any other person or entity or to use a false name or a name that you are not authorised to use.
      %p b.	Your Information and your activities on the Website must not, be false, inaccurate or misleading, offensive, menacing, abusive, defamatory, or in breach of copyright, confidence, privacy or any other rights. Your Information must not infringe any Third Party's copyright, patent, trade mark, trade secret or other proprietary rights or rights of publicity or privacy, be fraudulent, be in breach of any applicable laws or regulations (including, but not limited to, consumer protection, unfair competition, anti-discrimination, false advertising), be obscene, indecent or contain pornography.
      %p c.	Your Information must not create liability for the Company or cause the Company to lose (in whole or in part) the services of its ISPs or other suppliers. Your Information must not link directly or indirectly to any other website.
      %p d.	To enable the Company to use Your Information, you grant to the Company a non-exclusive, world-wide, perpetual, irrevocable, royalty-free, sub-licensable (through multiple tiers) licence to exercise the copyright, trade mark, publicity, and database rights you have in Your Information, in any media now known or not currently known. You also waive all moral rights you have in Your Information to the fullest extent permitted by law.
      %p e.	Your Information may not contain any computer viruses, macro viruses, trojan horses, worms or anything else designed to interfere with, interrupt or disrupt the normal operating procedures of a computer or to surreptitiously intercept, access without authority or expropriate any System, data or personal information. Your Information may not cause the Website to be interrupted, damaged, rendered less efficient or such that the effectiveness or functionality of the Website is in any way impaired.
      %p f.	You hereby acknowledge that the Company, at its absolute discretion, shall be entitled to edit, modify or remove any part or parts of Your Information which it considers is in breach of any of the provisions of these Terms and Conditions.
      %h3=_('8. Your Obligation')
      %p In consideration of the Company making the Website and the Services available to you, you:
      %p a.	may not submit or tender for Jobs which are prohibited by law;
      %p b.	accept responsibility for any content you provide on the Website;
      %p c.	agree not to copy, reproduce, modify, create derivative works from, distribute or publicly display any content (except for Your Information) from the Website without the Company's prior written permission;
      %p d.	agree not to use the Website or the Services for any illegal purpose and in accordance with all relevant laws;
      %p e.	agree not to use the Website or the Services to transmit or post any chain letters or any other material for the purposes of publicity, promotion and/or advertising;
      %p f.	agree not to use the Website or the Services to distribute by any means computer viruses or worms to Members or Third Parties;
      %p g.	agree not to use the Website or the Services to transmit or post any material which is defamatory, offensive, malicious, misleading or of an obscene or menacing character, or in such a way as to cause annoyance, inconvenience or needless anxiety;
      %p h.	agree not to use the Website or the Services such that the whole or part of the Website or the Services is interrupted, damaged, rendered less efficient or such that the effectiveness or functionality of the Website or the Services is in any way impaired;
      %p i.	agree not to use the Website or the Services in any manner which constitutes a violation or infringement of any person, firm or company or the rights thereof (including, but not limited to, Third Party intellectual property rights or confidentiality);
      %p j.	agree not to use the Website to attempt any unauthorised access to any part or component of the Website or that of any Third Party or Member to which you can connect via the Website (or other directly or otherwise connected network);
      %p k.	agree that you will not use any robot, spider, scraper or other automated means to access the Website for any purpose without the Company's express written permission;
      %p l.	agree not use the Website or Services as source of targeting material or contact data for any kind of telemarketing, direct marketing, viral or other electronic marketing activity on your own behalf or on behalf or for the benefit of a Third Party;
      %p m.	agree not to bypass measures we may use now or in the future to prevent or restrict access to the Website or certain information contained therein; or
      %p n.	agree that in the event that you have any right, claim or action against any user arising out of the use of the Website or the Service, then you will pursue such right, claim or action independently of, or without recourse to the Company.
      %h3=_('9. Tradesperson Qualifications')
      %p a.	Notwithstanding any other provision in these Terms and Conditions, the Company makes no representation as to a Contractors trade accreditation or suitability to undertake any Job.
      %p b.	It is the responsibility of a Homeowner to satisfy themselves that the Contractor is appropriately qualified to perform a Job.
      %h3=_("10. The Company's Rights")
      %p The Website may amend these Terms and Conditions from time to time. Each Member is responsible for ensuring they are familiar with the latest Terms and Conditions. Each Member’s continued use of the Services represents their agreement to be bound by the then current Terms and Conditions.

      %h3=_('11. Intellectual Property Rights')
      %p The Company owns all proprietary and intellectual property rights in the Website (including text, graphics, logos, icons and sound recordings) and the software and other material underlying and forming part of the Website. Members may not without the Company’s prior written permission, in any form or by any means:
      %p a.	Adapt, reproduce, copy, store, distribute, print, display, perform, publish or create derivative works from any part of this Website; or
      %p b.	Commercialize, copy, or on-sell any information, or Items obtained from any part of this Website.
      %h3=_('12. Indemnity')
      %p Each Member agrees to release, indemnify and keep indemnified the Company from and against all actions, claims, costs (including legal costs and expenses), losses, proceedings, damages, liabilities, or demands suffered or incurred by us to any person arising out of or in connection with the Member’s failure to comply with these Terms and Conditions, the Member’s failure to complete a transaction facilitated by the Website, the Member’s use of the Website or arising out of any of any Job.
      %h3=_('13. Limitations of Liability')
      %p Each Member agrees that, to the maximum extent permitted by law, any and all liability and responsibility of the Company to a member or any other person under or in connection with these Terms and Conditions, or in connection with the Services, the Website, a Job, another Member's acts or omissions, or a Members use of or inability to use, the Services or this Website, is excluded regardless of whether such liability arises in contract, tort (including negligence), equity, breach of statutory duty or otherwise. The Company's liability and responsibility is excluded in respect of any and all loss or damage, whether direct or indirect, including, without limitation, loss of profits, loss of data, loss of business or anticipated savings, general and special damages, and consequential and incidental loss.
      %h3=_('14. Disputes Between Members')
      %p a.	Should Members have a dispute with another Member, they must, in the first instance, address such dispute directly to the Member concerned and feedback the results to the Company.
      %p b.	The Company may at its sole discretion without being under legal obligation to do so, investigate any grievances held by Members, and may discuss any investigation with all involved parties. The Company may (but is not obliged to), in its sole discretion, take the following action to resolve a dispute:
      %p c.	allowed a Member to continue using the Services of the Company;
      %p d.	suspended a Member from using the Services of the Company for a period of time; or
      %p e.	ban a Member indefinitely from using the Services of the Company.
      %p f.	Members agree to release The Company from any damages or claims (including punitive, consequential and incidental damages) of every kind or nature, suspected and unsuspected, known and unknown, and disclosed or undisclosed, arising out of or in any way connected with such disputes.

      %h3=_('15. Disputes with the Company')
      %p Any dispute arising out of or in connection with these Terms and Conditions, which involves the Company (as determined by the Company in its sole discretion), shall, at the election of the Company (acting in its sole discretion) be either:
      %p a.	resolved by discussions and consultations between the parties in good faith;
      %p b.	referred to and finally resolved by arbitration in accordance with the then in force Arbitration Rules of the Singapore International Arbitration Centre;
      %p c.	submitted to the exclusive jurisdiction of the courts in Singapore;
      %p d.	any combination of (a)-(c) above.

      %h3=_('16. Governing Law')
      %p These Terms and Conditions are governed by the Laws of Singapore.
      %h3=_('17. Suspension and Termination')
      %p The Company reserves the right to suspend or discontinue its Service to individual Members, with immediate effect, as it sees fit and in circumstances including, but not limited to:
      %p a.	where the Company has not received written permission from provisional Contractors to undertake the necessary checks as part of its vetting process within the required 14-day period;
      %p b.	where payments that are due have not been settled within 14 days; and
      %p c.	where the Company suspects that a Member is in breach of the Terms and Conditions.
      %h3=_('18 General')
      %p a.	Clause headings are inserted for convenience only and shall not effect the construction hereof.
      %p b.	If any provisions hereof are held to be illegal or unenforceable such provisions shall be severed and the remainder of these Terms and Conditions shall remain in full force and effect unless the business purpose of these Terms and Conditions is substantially frustrated thereby.
      %p c.	You may not assign, transfer or sub-contract any of its rights hereunder without the prior written consent of the Company. The Company may assign, transfer or sub-contract all or any of its rights at any time without your consent.
      %p d.	Any express or implied waiver by the Company of any term or condition hereof or any breach or default by you may revoked be by the Company at any time. No such waiver shall constitute a continuing waiver nor shall it prevent the Company from acting upon that or any subsequent breach or default or from enforcing any term or condition hereof.
      %p e.	The provisions of Clauses 2, 3, 4, 6 11, 12, 13 15 and 16 shall survive termination of this Agreement.
      %p f.	Any notice to be given under these Terms and Conditions may be given via E-mail, regular mail, facsimile or by hand to the address provided on the Website or otherwise as notified by one party to the other.
      %p g.	No terms or conditions other than those set forth herein shall be binding upon the Company, unless in writing and signed on behalf of both the Company and you.
      %p h.	Nothing herein shall create or be deemed to create any joint venture, principal-agent or partnership relationship between a Member and the Company and neither party shall hold itself out in its advertising or otherwise in any manner which would indicate or imply any such relationship with the other.
    = form_for :contractor, url: accept_agreement_contractors_path(current_account.contractor), :html => {method: "patch"} do |f|
      .form-group.margin-bottom-30
        = f.hidden_field(:accept_agreement, :value => 1)
        = f.submit _('Accept'), :class => 'btn btn-success'