%p=_("Congratulation ") % contractor.company_name

%p=_("%s has selected you to do their project.") % homeowner.first_name || homeowner.last_name

%p=_("Please contact the client make the necessary arrangements to get the project started.")

