%p= _('Dear %s,') % homeowner.first_name || homeowner.last_name

%p=_("%s has provided a quote for your viewing.") % contractor.company_name

%p=_("Please login to you account to view or download the quote.")

%p
  %b=_('Note:')
  %br
  =_('If you are happy with this contractors quote, you will need to select them in your account. This will then let them know that you are interested in them completing you job.  Always make sure that you have considered all 3 quotes before making a choice.')




