%p
  = _('Dear %s,') % homeowner.first_name || homeowner.last_name

%p= _("Just to let you know your job has been approved and your lead has been sent out to qualified local contractors for review.")

%p= _('Thanks again for using kluje.com!')
