%p
  = _('Dear %s,') % homeowner.first_name || homeowner.last_name
%p
  =_("%s has just showed interest in your job! You will be contacted by ") % contractor.company_name
  =_("%s to arrange a time to visit the site to provide a quote. Alternatively you can contact the contractor directly. You will find their contact details under your job in your account.") % contractor.company_name
%p{align: 'center'}
  =_("You can view the contractors profile under your job in your account.")
  %br
  =_("Or")
%p{align: 'center'}
  = link_to _("Click to view the contractor's profile"), url, style: 'color: #fcb61a; font-weight: 600;'
