= _('Dear %s,') % partner.first_name || partner.last_name
%p
  =_('Attached is the paid commission for recent completed commercial job # %s') % job.id
  %br
  %br
  =_('You can also download the invoice from your Invoice History page.')
