= _('Dear %s,') % contractor.company_name
%p
  =_('Attached is the paid commission invoice for your recent completed commercial job # %s') % job.id
  %br
  %br
  =_('You can also download the invoice from your Invoice History page.')
