= _('Dear %s,') % contractor.company_name
%p
  = _("Congratulations you have been accepted to join Kluje Commercial.")
%p=_("")
%p=_("All you need to do now is login and accept the user agreement to access Kluje Commercial leads.")
%p=_("Please take the time to read the how it works in your account. This is very important so that you understand the processes involved to use Kluje Commercial. ")


