%p
  = _('Dear %s,') % contractor.account.first_name || contractor.account.last_name

%p=_("Congratulations! You are now a Verified Contractor.")
%p=_("Don't forget to work on your profile as this is the first thing that potential client will see.")

