%p
  = _('Dear %s,') % contractor.account.first_name || contractor.account.last_name

%p=_("Thank you for submitting verification form")
%p=_("You will be notified via email of acceptance once we have checked your detail. ")

