:javascript
  $(document).ready(function(){
    refreshStatusOfCountries($('#landing_page_visible_all_countries').is(':checked'));

    $("#landing_page_visible_all_countries").change(function() {
      refreshStatusOfCountries(this.checked);
    });

    function refreshStatusOfCountries(checked){
      $('#landing_page_countries_input>fieldset.choices').attr('disabled', checked);
    }
  });