.white-noise-bg.padding-top-50.padding-bottom-50
  .container.renovation-service.text-center.padding-top-30
    .text-center.padding-bottom-20
      %h2.orange-light.upcase=_('Looking to Renovate Your Commercial Property?')
      = image_tag 'banners/looking-renovate.jpg', width: '100%'
    .text-center
      %a.button-dark.upcase.btn{rel: 'canonical', href: commercial_home_path}
        = _('Find a contractor')

