.white-noise-bg.padding-top-50.padding-bottom-50
  .container
    .text-center
      %h2.orange-light.upcase=_('What type of contractor do you need?')
      %h3=_('Contractors are available for all home needs')
    = render 'landing_pages/categories'
    .margin-top-20.text-center
      %hr.black{style: 'width: 80%'}
      %h3= _('With kluje.com, simply post your job for FREE')
      %h3= _('on our quick form and we will match your request to relevant contractors.')
      %hr.black{style: 'width: 80%'}

