.white-noise-bg.padding-top-50.padding-bottom-100
  .container.padding-top-20.mobile-apps
    .upcase.first-text= _('We are on app store now')
    .second-text= _('Use our application now. It’s free!')
    .logo-apps
      %a.logo{href: 'https://itunes.apple.com/sg/app/kluje.com/id946792164?mt=8&ign-mpt=uo%3D4',rel: 'canonical', :target => '_blank'}
        = image_tag 'app_store.svg', class: 'mobile'