.widget
  .header
    %h3.h-3= _('What are the Benefits?')
  .body
    %ol
      %li
        =_('Get unlimited job leads - pay only for the ones you want')
      %li
        =_("Increase your company's online presence")
      %li
        =_('Connect to customers via mobile or tablet')
      %li
        =_('Find new customers quickly and easily with live alerts')
      %li
        =_('Reduce the overall cost for marketing')
