.widget
  .header
    %h3.h-3= _('What is included in my free account?')
  .body
    %ul.fa-ul
      %li
        %i.fa.fa-li.fa-hand-o-right
        = _('Get a personalized profile page')
      %li
        %i.fa.fa-li.fa-hand-o-right
        = _('No long-term commitment and no contract.')
