.inline-block {
  display: inline-block;
}

.grey-header {
  @extend .pull-left;
  background-color: color("sidebar-grey-light");
  width: 100%;
  padding: 5px 10px;
}

.table > thead > tr > th {
  border: 0;
}

.pill {
  padding: 2px 8px;
  border-radius: 10px;
}

#map-container {
  width: 100%;

  #map-canvas {
    height: 330px;

    img {
      max-width: none;
    }

    label {
      width: auto; display:inline;
    }
  }

}

.modal-backdrop {
  bottom: 0;
  z-index: 1031;
}

.container-white {
  @extend .white-bg;
  border-radius: 5px;
  box-shadow: 2px 2px 10px color("light-grey");
  margin: 20px 0 20px 0;
  padding: 20px;
  width: auto;
}

.banner {
  background-color: color("white");
  background-repeat: no-repeat;
  background-position:bottom;
  min-height: 310px;

  &.home {
    background-image: image_url('banners/home-v4.jpg');
  }

  &.contractors {
    background-image: image_url('banners/contractors.jpg');
    background-size: cover;
    height: 675px;
    .house {
      height: 330px;
    }
  }

  &.landing-page {
    background-size: cover;
    display: table;
    width: 100%;
    overflow: hidden;

    .inner {
      width: 100%;
      vertical-align: middle;
      display: table-cell;
    }

    @media (min-width: $screen-sm-min) {
      height: 475px;
    }
  }

  &.commercial {
    background-image: image_url('commercial/banners/commercial-banner.jpg');
    background-size: cover;
    border-bottom: 2px solid grey;
    height: 720px;
    .banner-description {
      position: relative;
      top: 65px;
    }
    @media (max-width: $screen-phone) {
      height: 475px;
      .banner-description {
        top: 0;
      }
    }
  }
}

@media (max-width: $screen-md-max) {
    .smaller {
    h1 {
        font-size: 42px;
    }
    h2 {
        font-size: 19px;
    }
    }
}

@media (min-width: 417px) and (max-width: 578px) {
  .banner.contractors .house {
    height: 300px;
  }
}

@media (min-width: 0) and (max-width: 416px) {
  .banner.contractors .house {
    height: 280px;
  }
}

// Vertical separator
@media (min-width: $screen-md) {

  .vertical-separator {
    height: 150px;

    hr {
      border: none;
      width: 2px;
      height: 100%;
      margin: 0 auto;
    }
    span.fa-stack {
      position: relative;
      top: -100px;
    }
  }
}

@media (max-width: $screen-md - 1) {
  .vertical-separator {
    margin-top: 30px;

    hr {
      border: none;
      width: 100%;
      height: 2px;
      margin: 0 auto;
      margin-top: 50px;
    }
    span.fa-stack {
      position: relative;
      top: -28px;
      margin-bottom: -28px;
    }
  }
}

.centering-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.circle {
  display: inline-block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  vertical-align: middle;

  &.smaller {
    width: 50px;;
    height: 50px;
  }
}

.square{
  display: inline-block;
  margin: 0 auto;
  width: 210px;
  height: 210px;
  vertical-align: middle;
}

$list_contractors: 'sign_up' 'update_profile' 'bid' 'quote' 'ratings';
$list_contractors_position: 0px -146px -291px -436px -580px;
@each $img in $list_contractors {
  $i: index($list_contractors, $img);

  .circle.#{$img} {
    background-image: image_url('icons/contractor_howitwork_icon.png');
    background-repeat: no-repeat;
    background-size: auto 150px;
    background-position-x: nth($list_contractors_position, $i);
  }
}

@each $img in post contact check rate {
  .square.#{$img} {
    background-image: image_url('home/#{$img}.png');
    background-repeat: no-repeat;
    background-position: center center;
  }

  .circle.#{$img} {
    background-image: image_url('home/#{$img}.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
  }
}

@media (min-width: 768px) {
  .square{
    width: 100%;
    background-size: contain;
  }
}

.mobile {
    width: 100%;
    max-width: 242px;
}

iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left;
}

.list-box {
  padding: 0 20px 0 20px;
  .header {
    border-radius: 6px 6px 0 0;
    height: 87px;
    .icon {
      height: 75%;
      vertical-align: middle;
    }
  }

  .name {
    @extend .light;
    font-size: 20px;
    padding: 10px 0 10px 0;
    height: 46px;
  }

  .content {
    @extend .regular;
    font-size: 16px;
    overflow-y: auto;
    padding: 0 15px 0 15px;
    border-radius: 0 0 6px 6px;

    @media (min-width: $screen-sm-min) {
      height: 340px;
    }
  }

  .footer {
    border-radius: 0 0 10px 10px;
    height: 30px;
  }
}

.field-errors {
  color: #b94a48;
  background-color: #ffe5e5;
  border-color: #eed3d7;
  border: 1px solid #f5c0c0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
  h2 {
    font-size: 15px;
    line-height: 20px;
  }
}

img.error {
  height: 200px;
}

.locations-flag {
  max-width: 60%;
}

.padding-mobile-top-20 {
  display: inline-block;
  margin: 0 0 0 20px;
  @media (max-width: 767px) {
    display: block;
    margin: 0;
    padding-top: 20px;
  }
}

.share-this span {
  min-height: 22px;
}

.breadcrumb.white-bg {
  background-color: white;
  margin-bottom: 0;
  > li {
    a {
      color: #333;
      font-weight: 400;
    }
    &.active {
      color: #9A5656;
    }
  }
  > li + li:before{
    content: '> '
  }
}

.mt-checkbox, .mt-radio{
  position: relative;
}

.mt-checkbox input[type="checkbox"]:disabled + label,
.mt-radio input[type="radio"]:disabled + label {
  cursor: not-allowed;
  color: rgba(68, 88, 112, 0.6);
}

.mt-checkbox input[type="checkbox"]:disabled + label:before,
.mt-radio input[type="radio"]:disabled + label:before {
  border-color: #ddd;
}

.mt-checkbox input[type="checkbox"],
.mt-checkbox input[type="radio"],
.mt-radio input[type="checkbox"],
.mt-radio input[type="radio"] {
  position: absolute;
  top: 0;
  left: 2px;
}

.mt-checkbox input[type="checkbox"] + label,
.mt-checkbox input[type="radio"] + label,
.mt-radio input[type="checkbox"] + label,
.mt-radio input[type="radio"] + label {
  cursor: pointer;
  position: relative;
  -ms-user-select: none;
  line-height: 20px;
  -moz-user-select: none;
  -webkit-user-select: none;
  padding-left: 25px;
  text-transform: none;
  font-weight: normal;
  font-size: 15px;
  margin-bottom: 0;
}

.mt-checkbox input[type="checkbox"] + label:before,
.mt-checkbox input[type="radio"] + label:before,
.mt-radio input[type="checkbox"] + label:before,
.mt-radio input[type="radio"] + label:before {
  top: 0;
  left: 0;
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  border: 1px solid #E0E0E0;
  background: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mt-checkbox input[type="checkbox"] + label:before {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.mt-checkbox input[type="checkbox"]:checked + label:before {
  background: color('orange') image-url('icons/ic-check.png') no-repeat center center;
  background-size: 14px;
  border-color: transparent;
}

.mt-radio input[type="radio"] + label:before {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.mt-radio input[type="radio"]:checked {
  + label:before {
    border: 6.66667px solid color('orange');
  }

  + label:after{
    top: 2px;
    left: 2px;
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    border: 2px solid white;
    background: #f9b233;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50%;
  }
}

.btn-group {
  .btn {
    background: #D8D8D8;
    color: rgba(51, 51, 51, 0.72);
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px;
    &.active, &:hover {
      background: #333333;
      color: color('orange');
      box-shadow: none;
    }
  }
}
