.member {
  .h-3{
    font-size: 25px;
    font-weight: 200;
    margin-top: 5px;
  }

  .business-card{
    .h-3{
      font-weight: normal;
      margin-top: 0px;
      padding-top: 5px;
      margin-bottom: 2px;
    }
  }
}