$grid-float-breakpoint: 870px;

$icon-font-path: "bootstrap/";
$fa-font-path: "font-awesome/";

$slick-prev-character: "\f053";
$slick-next-character: "\f054";
$slick-font-family: "FontAwesome";
$slick-arrow-color: #a5a5a5;;
