%p Dear #{account.full_name},

%p
  Please be informed that your question has been posted on Kluje. Please click here to view your question details: #{link_to question.title, question_url(id: question.slug_url, locale: 'en')}.

