.light-black-bg.padding-top-30.padding-bottom-30
  .container.renovation-service.text-center
    .row
      %h2.white.upcase=_('Our Commercial contractors')
    .row
      %h3.white.w-100=_('All Kluje Commercial Contractors have been screened, certified and verified.')
      %h3.white.w-100=_('They are required to provide the following documents prior to being listed on Kluje Commercial Renovation platform:')
    .row
      %h4.white.w-100= _('Valid business license')
      %h4.white.w-100= _('All licenses to carry out M&E works')
      %h4.white.w-100= _('Liability insurance')