.white-noise-bg.padding-top-30.padding-bottom-30
  .container.renovation-service.text-center
    .row
      %h2.orange-light.upcase=_('Need a Residential Renovation Done?')
    .row.padding-boxttom-50.padding-top-20
      .col-sm-12.margin-bottom-15.text-center
        = image_tag 'commercial/banners/renovation-banner.jpg', alt: 'Renovation', class: 'img-responsive inline-block white-bg padding-15'
    .row
      .padding-top-20.padding-bottom-20
        = link_to _('More Details'), home_path, class: 'button-dark upcase btn'

